input {
    box-sizing: border-box;
    font-size: 1rem;
    width: 100%;
    padding: 0.2rem 1rem;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 1rem;
    outline: none;
    text-align: center;
}