.card {
    height: 100%;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: block;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
}

.card:hover .image {
    filter: contrast(100%);
}

.content {
    padding: 1rem;
}

.image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    filter: saturate(180%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);
}

.image::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

@media (min-width: 40rem) {
    .image::before {
        padding-top: 66.6%;
    }
}

.title {
    color: #696969;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.text {
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}