.wrapper {
    text-align: center;
    padding: 0px 1rem;
    margin: 0 auto;
}

.container {
    width: 100%;
    display: flex;
    margin: 1.2rem auto 0;
}

@media (min-width: 40rem) {
    .container {
        padding: 0 15%;
    }
}

@media (min-width: 56rem) {
    .container {
        padding: 0 25%;
    }
}

.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
